.App {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

input {
  display: block;
  width: 25rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 2rem;
}

button {
  color:aliceblue;
  background-color: #3493ff;
  border: none;
  padding: 1rem;
  width: 26.2rem;
  font-size: 1.5em;
  cursor: pointer;
}
button:hover {
  background-color: #1f88ff;
}

.message {
  font-size: 1em;
  text-align: center;
  color: #36a936;
}